# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.env

# OS files
.DS_Store
Thumbs.db

# Editor / IDE files
.vscode/
.idea/

# Logs
*.log

# Streamlit specific
.streamlit/
